/* https://treecheese.netlify.app/ */
@import url("stinkycheese.css");

/* <link> is still preferred because <link> loads stylesheets in parallel, whereas imports 
are loaded like a "waterfall" effect that delays the page load */
* {
    margin: 0;
    box-sizing: border-box;
}

[lang="en"] {
    quotes: '"' '"' "'" "'";
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fdf6e3;
    line-height: 3rem;
}

header p {
    font-weight: lighter;
    line-height: 1.5rem;
}

article>p {
    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

#what-is-cheese {
    background-color: var(--first-color);
    color: var(--second-color);
}

#cheese-definition {
    line-height: 1.5rem;
}

#cheese-word-origin {
    line-height: 1rem;
    padding: 1rem .5rem;
}

.latin {
    text-decoration: underline overline var(--third-color);
    text-decoration-style: solid;
}

.cheese-families {
    line-height: var(--base-spacing);
    font-size: 1.5rem;
    font-family: var(--goofy-font);
    font-style: italic;
    font-weight: 600;
    color: var(--first-color)
}

.cheese-description {
    font-family: var(--goofy-font);
    line-height: var(--base-spacing);
    font-size: 1rem;
    font-weight: lighter;
}

dt+dd {
    text-align: left;
    text-wrap: pretty;
    color: #7b6f19;
}

#warning {
    line-height: var(--base-spacing);
    background-color: #bb3e00;
    padding: 5%;
}

#blockquote {
    background-color: var(--first-color);
    color: var(--second-color);
}

#attributed {
    line-height: .25em;
    padding: 1em;
}

.quote::before {
    content: "\2014"
}

input[type="checkbox"]:focus {
    accent-color: var(--third-color);
    padding: .5em;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

[type="text"] {
    outline: 4rem var(--third-color);
}

input[type="text"]:focus {
    cursor: text;
    color: #bb3e00
}

input[type="checkbox"]:checked+label {
    font-weight: 600;
    color: green;
}

#add-to-guide:hover {
    cursor: pointer;
}

#cheese-society:focus {
    color: blue;
    text-decoration: underline;
    scroll-behavior: smooth;
}

#cheese-society:hover {
    cursor: pointer;
}